<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Acompanhamento de emprestimos</h1>
    </div>
  </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cliente</label>
        <input pInputText  [(ngModel)]="filtro.cliente" type="text"/>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
          <label style="display: block">Registro</label>
          <p-calendar [(ngModel)]="inicio" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          <label style="margin-left: 5px; margin-right: 5px">até</label>
          <p-calendar [(ngModel)]="fim" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          <label style="margin-left: 5px; margin-right: 5px"></label>
          <p-dropdown [options]="status" [(ngModel)]="sta" placeholder="Status"></p-dropdown>
          <button pButton label="Pesquisar" (click)="pesquisar()" class="ui-button-success" style="margin-left: 10px"></button>
          <label style="margin-left: 15px"> R$ </label>
          <input pInputText  [(ngModel)]="total"  style="margin-left: 10px; width: 80px" [disabled]="true" type="text"/>
        </div>
    </div>


    <div class="ui-g" >
        <div class="ui-g-12">
          <p-table [value]="emprestimos" [responsive]="true">
              <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center;  width: 80px;">Código</th>
                    <th style="text-align: left;  width: 260px;">Cliente</th>
                    <th style="text-align: center;  width: 100px;">Valor</th>
                    <th style="text-align: center;  width: 120px;">Data</th>
                    <th style="text-align: center;  width: 120px;">Usuário</th>
                    <th style="text-align: center;  width: 100px;">Status</th>
                    <th style="text-align: center;  width: 80px;"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-e>
                  <tr>
                      <td style="text-align: center;  width: 80px;">{{e.id}}</td>
                      <td style="text-align: left;  width: 260px;">{{e.cliente}}</td>
                      <td style="text-align: center;  width: 100px;">{{e.valor}}</td>
                      <td style="text-align: center;  width: 120px;">{{e.dataOperacao}}</td>
                      <td style="text-align: center;  width: 120px;">{{e.usuario}}</td>
                      <td style="text-align: center;  width: 100px;">{{e.status}}</td>
                      <td>
                        <a pButton icon="pi pi-pencil"  pTooltip="Editar" tooltipPosition="top" [routerLink]="['/emprestimo', e.id]"></a>
                        <a pButton icon="pi pi-trash"  pTooltip="Excluir" (click)="excluir(e.id, e.status)" tooltipPosition="top" style="margin-left: 10px"></a>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      </div>
</div>

<p-dialog header="Atenção" [(visible)]="exibirDialogoStatusNaoAberto" modal="modal"
[style]="{width: '400px', height: '300px'}">

      <div class="ui-g-12 ui-fluid form-group" style="margin-left: 0">
        <label> Apenas emprestimos com status Aberto podem ser excluídos! </label>
        <br> <br>
      </div>

      <div class="ui-g-4 ui-fluid">
        <button pButton type="submit" label="OK" (click)="fechaDialogoStatusNaoAberto()" class="ui-button-danger"></button>
      </div>

</p-dialog>



